<mat-sidenav-container class="container" autosize>
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon class="sidenav-button" [ngClass]="{'expanded' : isExpanded}">expand_more</mat-icon>
  </button>
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
    <mat-nav-list class="sidenav-list">
      <div class="sidenav-header">
        <mat-list-item class="parent">
          <a routerLink="./">
            <img src="../../../assets/img/icon.png" width="30"/>
            <span class="full-width" *ngIf="isExpanded || isShowing"> Nutshell</span>
          </a>
        </mat-list-item>
      </div>

      <a routerLink="/cardapio">
        <mat-list-item>
          <mat-icon mat-list-icon>book</mat-icon>
          <span>Cardápio</span>
        </mat-list-item>
      </a>

      <a routerLink="/entrada">
        <mat-list-item>
          <mat-icon mat-list-icon>inventory_2</mat-icon>
          <span>Entrada de Estoque</span>
        </mat-list-item>
      </a>
      <a routerLink="/venda">
        <mat-list-item>
          <mat-icon mat-list-icon>shopping_cart</mat-icon>
          <span>Vendas</span>
        </mat-list-item>
      </a>
      <a routerLink="/cliente">
        <mat-list-item>
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span>Cliente</span>
        </mat-list-item>
      </a>
      <a routerLink="/fornecedor">
        <mat-list-item>
          <mat-icon mat-list-icon>account_box</mat-icon>
          <span>Fornecedor</span>
        </mat-list-item>
      </a>
      <a routerLink="/usuario">
        <mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <span>Usuário</span>
        </mat-list-item>
      </a>

    </mat-nav-list>
    <div class="sidenav-footer" *ngIf="isExpanded || isShowing">
      <div class="sidenav-footer-content">
        <a href="">Logout <mat-icon mat-list-icon>login</mat-icon> </a>
      </div>
    </div>
  </mat-sidenav>


  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>

