<mat-sidenav-container class="container" autosize>
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon class="sidenav-button" [ngClass]="{'expanded' : isExpanded}">expand_more</mat-icon>
  </button>
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
    <mat-nav-list class="sidenav-list">
      <div class="sidenav-header">
        <mat-list-item class="parent">
          <a routerLink="">
            <span>ICON</span>
            <span class="full-width" *ngIf="isExpanded || isShowing"> Nutshell</span>
          </a>
        </mat-list-item>
      </div>
      <a routerLink="/cardapio">
        <mat-list-item>
          <mat-icon mat-list-icon>book</mat-icon>
          <span>Cardápio</span>
        </mat-list-item>
      </a>

    </mat-nav-list>
    <div class="sidenav-footer" *ngIf="isExpanded || isShowing">
      <div class="sidenav-footer-content">
        <a href="">Logout</a>
      </div>
    </div>
  </mat-sidenav>


  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>

