<div class="container">
  <div fxLayout="row">
    <h1>Incluindo Produto</h1>
  </div>
  <mat-tab-group>
    <mat-tab label="Geral">
      <div fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex="40">
          <mat-label>Nome do Produto</mat-label>
          <input matInput>
          <mat-icon matSuffix>close</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="30">
          <mat-label>Data de Cadastro</mat-label>
          <input matInput>
          <mat-icon matSuffix>close</mat-icon>
        </mat-form-field>

      </div>
      <div fxLayoutGap="20px">
        <button mat-raised-button color="primary" (click)="abrirModalIncluirTipoProduto()">Incluir Tipo de Produto</button>
        <mat-form-field appearance="outline" fxFlex="30">
          <mat-label>Descrição do Produto</mat-label>
          <input matInput>
          <mat-icon matSuffix>close</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="36">
          <mat-label>Tipo do Produto</mat-label>
          <input matInput>
          <mat-icon matSuffix>close</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="20">
          <input matInput placeholder="Ativo">
          <mat-icon matSuffix>arrow</mat-icon>
        </mat-form-field>
      </div>

    </mat-tab>

  </mat-tab-group>
  <div dir="ltr" fxLayoutGap="20px">
    <button mat-flat-button color="primary">Salvar</button>
    <button mat-flat-button color="warn" style="color: white">Excluir</button>
    <button mat-flat-button style=" background-color: #DEE3EA" >Voltar</button>
  </div>
</div>
