<div class="container">
  <div fxLayout="row">
    <h1>Incluindo Cliente</h1>
  </div>
  <mat-tab-group>

    <mat-tab label="Geral">
      <div fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex="40">
          <mat-label>Razão Social</mat-label>
          <input matInput>
          <mat-icon matSuffix>close</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="30">
          <mat-label>Nome Fantasia</mat-label>
          <input matInput>
          <mat-icon matSuffix>close</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="30">
          <mat-label>CPF/CNPJ</mat-label>
          <input matInput>
          <mat-icon matSuffix>close</mat-icon>
        </mat-form-field>
      </div>

    </mat-tab>
  </mat-tab-group>
  <div dir="ltr" fxLayoutGap="20px">
    <button mat-flat-button color="primary">Salvar</button>
    <button mat-flat-button color="warn" style="color: white">Excluir</button>
    <button mat-flat-button style=" background-color: #DEE3EA" (click)="close()">Voltar</button>
  </div>
</div>
