.container{
  width: 100%;
  margin-top: 7px;
}

.venda-container{
  width: 80%;
  margin: auto;
}

.filtro-container{
  width: 90%;
}

.button{
  margin: 10px 20px 0;
}

.button-container{
  text-align: end;
  padding: 0.8% 0;

}

.table-container{
  width: 100%;
}

.venda-table{
  width: 100%;
}

.acao-title{
  text-align: center;
}

.acao-content{
  text-align: center;
}




